.tg-img01{
    height: 516px;
    width:100%;
    background:url(../img/tripleGifts/triple-gifts-pc01.png) center;
}
.tg-img02{
    height: 498px;
    width:100%;
    background:url(../img/tripleGifts/triple-gifts-pc02.png) center;
}
.tg-img03{
    height: 399px;
    width:100%;
    background:url(../img/tripleGifts/triple-gifts-pc03.png) center;
}
.tg-img04{
    height: 399px;
    width:100%;
    background:url(../img/tripleGifts/triple-gifts-pc04.png) center;
}
.tg-img05{
    height: 234px;
    width:100%;
    background:url(../img/tripleGifts/triple-gifts-pc05.png) center;
}